<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="number_of_elements" default="10" />

    <include file="$(find sentinel_description)/launch/spawn_xacro.launch">
        <arg name="x" value="0.0" />
        <arg name="y" value="0.0" />
        <arg name="z" value="1.5" />
        <arg name="roll" value="1.57" />
        <arg name="pitch" value="0.0" />
        <arg name="yaw" value="0.0" />
        <arg name="xacro_robot_file" value="$(find sentinel_description)/robot/sentinel.urdf.xacro" />
        <arg name="robot_name" value="sentinel" />
        <arg name="number_of_elements" value="$(arg number_of_elements)" />
    </include>
</launch>